@font-face {
  font-family: editundo;
  src: url('../fonts/editundo.ttf');
}
body {
  background-color: gray;
  font-family: editundo;
}
#fps {
  float: right;
}
#framecounter {
  color: white;
  font-size: 10px;
  font-family: "Courier New";
}
