@font-face {
  font-family: editundo;
  src: url('../fonts/editundo.ttf');
}
body {
  background-color: black;
  font-family: editundo;
}
#info, #app {
  width: 512px;
  margin: 0 auto;
}
#audio {
  float: left;
}
#toggleAudio {
  background-image: url("../images/audio_icon.gif");
  background-position: 0 3px;
  background-repeat: no-repeat;
  padding-left: 20px;
  text-decoration: none;
  color: #00C5C5;
}
#fps {
  float: right;
}
#framecounter {
  color: white;
  font-size: 10px;
  font-family: "Courier New";
}
