@font-face {
  font-family: editundo;
  src: url('../fonts/editundo.ttf');
}
body {
  background-color: black;
  font-family: editundo;
}
#info, #app {
  width: 512px;
  margin: 0 auto;
}
#fps {
  float: right;
}
#framecounter {
  color: white;
  font-size: 10px;
  font-family: "Courier New";
}
